body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.login{
  width: 40%;
  align-content: center;
  margin-top: 10%;
}
.login-item{
  margin-left: 25%;
}
.login-header{
  text-align: center;
}
.login-btn{
  margin-left:27%;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.login-link{
  font-size:x-small !important;
  margin-left:7px;
}


.wrapper {
  display: flex;
  width: 100%;
}

#sidebar {
  width: 230px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background:grey;
  color: #fff;
  transition: all 0.3s;
}
.profile-pic{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 10px;
}
.personal-info{
  margin-top:10px;
  font-size: small;
}
.sidebar-header{
  margin:15px;
}
.dash-link{
  width:150px;
  margin: 20px;
  margin-left: 50px;
  font-size: large;
}
.dash-icon{
  margin-right: 10px;
  size: auto;
}
.board{
  margin-left: 250px;
}
.dashboard-icon{
  font-size: 100px;
  margin-left:35%;
}
.dashboard-card{
  margin:50px;
  padding-top:25px;
  border: 2px solid grey;
}
.add-issue{
  margin-left: 75%;
  padding:10px;
}
.delete-confirmation{
  margin: 50px;
  padding: 100px;
  border: red solid 10px;
}
.delete-project-background{
  background-color: red;
}
.card-description{
  height: 100px;
}
.issue-card{
  height:160px;
  margin:5px;
}
.issue-icon{
  margin-right: 10px;
  font-size: 15px;
}
.nav-btn{
  width: 100px;
}
#Menu
{
  padding:0;
  margin:0;
  list-style-type:none;
  font-size:13px;
  color:#717171;
  width:100%;
}

#Menu li
{
  border-bottom:1px solid #eeeeee;
  padding:7px 10px 7px 10px;
}

#Menu li:hover
{
  color:White;
  background-color:darkgrey;
}

#Menu a:link
{
  color:#717171;
  text-decoration:none;
}

#Menu a:hover
{
  color:White;
}
.page-btn{
  width: 50px;
  font-size: 25px;
}
.page-list{
  margin-left: 35%;
}